flask
python-dotenv
torch
langchain
langchainhub
huggingface-hub
pypdf
InstructorEmbedding
sentence-transformers
faiss-cpu
llama-index
llama_index.llms.huggingface
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
huggingface